<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    </title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../public/js/application.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/custom.css">
  </head>
  <body>
    <div id="mainBody" class="col-lg-8 col-lg-offset-2">
      <div id="leftIntro" class="col-lg-6">
        <h1>Welcome to Rettiwt</h1>
        <p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div id="rightBody" class="col-lg-offset-1 col-lg-3">
        <form>
          <h4><span>New to Rettiwt? </span> Sign up</h4><hr>
          <div class="form-group">
            <input type="text" class="form-control" id="signupFullnameInput" placeholder="Full name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="signupUsernameInput" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="signupPasswordInput" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="signupEmailInput" placeholder="Email">
          </div>
          <button class="btn btn-default" id="signupButton">Sign up</button>
        </form>
      </div>
    </div>
  </body>
</html>
